@use '../abstracts' as *;

.about {
    width: 100vw;
    background-color: $Color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        width: 80%;
        height: 100%;
        color: $White;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 5rem 0 5rem 0;

        @include responsive(tablet-portrait) {
            flex-direction: column-reverse;
            height: initial;
        }

        &__icons {
            width: 45%;
            height: 70%;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            @include responsive(tablet-portrait) {
                margin-top: 2rem;
                width: 80%;
                gap: 1rem;
            }

            &--icon {
                width: 5rem;
                height: 6rem;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                color: $Color-tertiary;
                text-align: center;

                svg {
                    font-size: 3.5rem;
                    text-align: center;
                }

                p {
                    font-size: 0.8rem;
                    margin-top: 5px;
                }
            }

        }

        &__presentation {
            width: 45%;
            height: 70%;

            @include responsive(tablet-portrait) {
                width: 100%;
            }

            &--text {
                color: $White;
                font-size: 3rem;
                font-weight: 700;

                @include responsive(phone) {
                    font-size: 2rem;
                }
            }

            &--paragraph {
                font-size: 1.2rem;
                font-weight: 400;
                color: $Color-tertiary;
                margin-bottom: 1rem;
            }

            &--skill {
                font-size: 1.2rem;
                font-weight: 400;
                color: $Color-tertiary;
                margin-bottom: 1rem;

                span {
                    background-color: $Color-tertiary;
                    color: $Color-primary;
                    padding: 0 3px 0 3px;
                }
            }
        }
    }
}