@use '../abstracts' as *;

.contact {
    width: 100vw;
    //height: 100vh;
    background: $Color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;

    &__main {
        width: 80%;
        height: 80%;
        display: flex;
        position: relative;
        margin: 5rem 5rem;

        @include responsive(tablet-landscape) {
            width: 90%;
            height: 70%;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        @include responsive(tablet-portrait) {
            flex-direction: column-reverse;
        }
    }

    &__card {
        width: 30%;
        height: 25rem;
        position: absolute;
        top: 4rem;
        left: 0;
        background: $Color-tertiary;
        border-radius: 5px;
        display: flex;  
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @include responsive(tablet-landscape) {
            position: static;
            width: 40%;
            height: 34rem;
            display: flex;
        }

        @include responsive(tablet-portrait) {
            flex-direction: row;
            align-items: center;      
            justify-content: center;
            width: 100%;
            height: 15rem;
            margin-bottom: 5rem;
        }

        @include responsive(phone) {
            align-items: start;
            flex-direction: column;
            height: auto;
        }

        &__content {
            width: 80%;
            margin: 0 auto;
            margin-top: 3rem;

            @include responsive(tablet-portrait) {
                margin-top: 0;
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                margin: 2rem 2rem;
            }

            @include responsive(phone) {
                width: 90%;
            }   

            &__title {
                font-size: 1.4rem;
            }

            &__socials {
                width: 80%;
                margin: 0 auto; 
                margin-bottom: 2rem;
                
                @include responsive(phone) {
                    padding-left: 0.5rem;
                }
    
                &--social {
                    margin-right: 0.8rem;
    
                    svg {
                        font-size: 2.5rem;
                        color: $Color-secondary;
                    }
                }
                
                @include responsive(tablet-portrait) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40%;
                    height: 100%;
                    margin: 0;
                }

                @include responsive(phone) {
                    width: 90%;
                    margin: 0 auto;
                    justify-content: start;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    &__form {
        width: 90%;
        height: 34rem;
        background: $Color-primary;
        margin-left: 8rem;
        border-radius: 5px;
        color: $Color-tertiary;
        display: flex;
        justify-content: center;
        align-items: center;

        &__content {
            margin-left: 7rem;
            width: 39rem;
            height: 25rem;

            @include responsive(tablet-landscape) {
               margin-left: 1rem;
            }

            @include responsive(tablet-portrait) {
                margin: 3rem 3rem;
            }

            @include responsive(phone) {
                width: 90%;
                margin-bottom: 10rem;
            }

            &__title {
                font-size: 1.6rem;
                margin-left: 1rem;
            }

            &__inputs {
                background: $Color-primary;

                @include responsive(phone) {
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    flex-direction: column;
                }

                input {
                    background: $Color-primary;
                    border: none;
                    outline: none;
                    font-family: $Font;
                    border-bottom: 2px solid $Color-tertiary;
                    width: 16rem;
                    font-size: 0.875rem;
                    padding-bottom: 0.3rem;
                    margin: 2rem 2rem 2rem 1rem;
                    color: $Color-tertiary;

                    @include responsive(tablet-landscape) {
                        width: 12rem;
                    }

                    @include responsive(tablet-portrait) {
                        width: 14rem;
                    }

                    @include responsive(phone) {
                        width: 90%;
                    }
                }

                input::placeholder {
                    color: $Color-tertiary;
                }


                textarea {
                    font-family: $Font;
                    background: $Color-primary;
                    border: none;
                    border-bottom: 2px solid $Color-tertiary;
                    margin: 1rem 2rem 2rem 1rem;
                    width: 35rem;
                    resize: none;
                    outline: none;
                    padding-bottom: 2.5rem;
                    color: $Color-tertiary;
                    font-size: 0.875rem;

                    @include responsive(tablet-landscape) {
                        width: 27rem;
                    }

                    @include responsive(tablet-portrait) {
                        width: 31rem;
                    }

                    @include responsive(phone) {
                        width: 90%;
                    }
                }

                textarea::placeholder {
                    color: $Color-tertiary;
                }
            }

            &__button {
                display: flex;
                justify-content: center;
                align-items: center;
                background: $White;
                width: 7rem;
                height: 3rem;
                margin-left: 1rem;
                border-radius: 5px;
                background: $Color-tertiary;
                border: none;
                font-family: $Font;
                font-size: 1rem;
                font-weight: 400;

                a {
                    text-decoration: none;
                    color: $Color-primary;
                }
            }
        }

        @include responsive(tablet-landscape) {
            margin-left: 0;
            width: 60%;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        @include responsive(tablet-portrait) {
            margin-left: 0;
            width: 100%;
            margin-bottom: 0;
        }

        @include responsive(phone) {
            margin-top: 5rem;
            height: 45rem;
        }
    }
}