@use '../abstracts' as *;

.navlink {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $Accent;
    z-index: 5000;

    &__button {
        border: 1px solid white;
        height: 4rem;
        width: 4rem;
        position: fixed;
        border-radius: 50%;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 3rem;
        top: 3rem;
        border: none;
        color: $Color-primary;
        cursor: pointer;

        &:focus {
            background: $Color-tertiary;
            color: white;
            transition: 0.2s;
        }

        @include responsive(tablet-portrait) {
            width: 4rem;
            height: 4rem;
            font-size: 2rem;
            right: 3rem;
            top: 2rem;
        }
    }

    &__content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__text {
            color: $Color-tertiary;
            text-decoration: none;
            font-size: 2.5rem;
            margin: 1rem;
            text-transform: uppercase;
            font-weight: 600;
            outline: none;

            &:hover {
                color: $Color-primary;
                transition: 0.4s;
            }
        }


    }
}