@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Colors */
$Font: 'Poppins', sans-serif;
$Color-primary: #192127;
$Color-secondary: #0E141B;
$Color-tertiary: #A0AEC0;
$Accent: #2D3748;
$White: #fff;
